body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
    width: 500px;
}

.navbar-brand a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.navbar-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-left: 20px;
}

.navbar-item a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}

.navbar-item a:hover {
    background-color: #575757;
    border-radius: 4px;
}
#b1{
    background: none;
    border: none;
    padding:none;
    color:white;

}

/* Responsive */
@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
    }
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .navbar-menu.active {
        display: flex;
    }
    .navbar-item {
        margin: 0;
    }

}
